.footer {
    background-color: #cfcece; 
    color: #fff; 
    padding: 10px 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .footer-icon{
    color: rgb(89, 21, 89);
    height: 50px;
    width: 50px
  }

  .footer p{
    color:rgb(89, 21, 89);
    font-weight: 500;
  }
  
 